[submodule "DefaultHL2Template/Plugins/MixedReality-GraphicsTools-Unreal"]
	path = DefaultHL2Template/Plugins/MixedReality-GraphicsTools-Unreal
	url = https://github.com/microsoft/MixedReality-GraphicsTools-Unreal.git
